{{define "page-title"}}
  About
{{end}}
{{define "page-body"}}
  <p>
    <h2>Welcome to Louie's Library!</h2>
    Louie's Library is a site for sharing ebooks. You can make a request for new items, review books you have read, keep track of your reading progress, and much more.
    The site is in its early stages, with things around the site changing every day.

    <br><br>
    
    Here are a list of things on the roadmap...
    <ul>
      <li>Collections (setting year of completion, reading goals)</li>
      <li>Site Announcements</li>
      <li>Mobi to EPub/PDF Conversions</li>
      <li>How-To Videos</li>
    </ul>

    <br><br>

    If you are interested in the development of the site, you can follow its progress <a href="https://github.com/Mr-Schneider/louieslibrary">on GitHub</a>.

    <br><br>

    If you have any questions or comments, please send me something directly using the on-site messaging system. (click on someones user profile to start a conversation)

    <br><br>

    - <a href="/user/jonesbooned">jonesbooned</a>

  </p>
{{end}}