{{define "base"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{template "page-title" .}} - Louie's Library</title>
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header>
			<h1><a href="/">Louie's Library</a></h1>
		</header>
		<nav>
			<a href="/" {{if eq .Path "/"}}class="live"{{end}}>
				Home
			</a>
			{{if .User.ID}}
			<a href="/request/new" {{if eq .Path "/request/new"}}class="live"{{end}}>
				New Request
			</a>
			<a href="/book/all" {{if eq .Path "/book/all"}}class="live"{{end}}>
				Browse Books
			</a>
			<a href="/write/book" {{if eq .Path "/write/book"}}class="live"{{end}}>
				New Book
			</a>
			<a href="/user/logout">
				Logout
			</a>
			<a href="/user/{{.User.Username}}">
				{{.User.Username}}
			</a>
			{{else}}
			<a href="/user/login" {{if eq .Path "/user/login"}}class="live"{{end}}>
				Login
			</a>
			<a href="/user/signup" {{if eq .Path "/user/signup"}}class="live"{{end}}>
				Signup
			</a>
			{{end}}
		</nav>
		<section>
			{{template "page-body" .}}
		</section>
	</body>
</html>
{{end}}
