{{define "page-title"}}
  Home
{{end}}
{{define "page-body"}}
  <h2>Latest Books</h2>
  {{if .Books}}
    <table>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Volume ID</th>
      </tr>
      {{range .Books}}
        <tr>
          <td>{{.Authors}}</td>
          <td><a href="/book/{{.VolumeID}}">{{.Title}}</a></td>
          <td>{{.VolumeID}}</td>
        </tr>
      {{end}}
    </table>
  {{end}}
  <br><br><h2>Latest Requests</h2>
  {{if .Requests}}
    <table>
      <tr>
        <th>Requester</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
      {{range .Requests}}
        <tr>
          <td>{{.Requester}}</td>
          <td><a href="/request/{{.ID}}">{{.Title}}</a></td>
          <td>{{.Status}}</td>
        </tr>
      {{end}}
    </table>
  {{end}}
{{end}}
