{{define "page-title"}}
  Messages
{{end}}
{{define "page-body"}}
  <div class="row">
    <div class="column third ridge" name="Sidebar">
      {{if .Threads}}
        {{range .Threads}}
          {{if .Read}}!{{end}}
            <a href="/messages/{{.Sender}}">{{.Sender}}</a><br>
        {{end}}
      {{end}}
    </div>
    <div class="column twothird ridge chatbox" id="chat">
      {{if .Messages}}
        {{range .Messages}}
          <div class="chat" id="userbubble">{{.Sender}}: {{.Content}}</div><br>
        {{end}}
      {{end}}
      {{with .Form}}
        <form action="/messages/{{.Reciver}}" method="POST">
          <div>
            <input type="hidden" name="reciver" value="{{.Reciver}}">
          </div>
          <div>
            {{with .Failures.Content}}
              <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="content" value="{{.Content}}">
          </div>
          <div>
            <input type="submit" value="Send Message">
          </div>
        </form>
      {{end}}
    </div>
    <div class="column right" name="Sidebar">
      <!-- right-side -->
    </div>
  </div>
  <script>
    var objDiv = document.getElementById("chat");
    objDiv.scrollTop = objDiv.scrollHeight;
  </script>
{{end}}
