{{define "page-title"}}
  Messages
{{end}}
{{define "page-body"}}
  <div class="row">
    <div class="column third ridge" name="Sidebar">
      {{if .Threads}}
        {{range .Threads}}
          <a href="/messages/{{.Sender}}">{{.Sender}}</a><div class="newmessage floatright">{{if .Read}}New Message!{{end}}</div><br>
        {{end}}
      {{end}}
    </div>
    <div class="column twothird ridge chatbox" id="chat">
      {{if .Messages}}
        {{range .Messages}}
          <div class="chatbubble" id="{{.Sender}}">{{.Sender}}: {{.Content}}<div class="floatright">{{humanDate .Created}}</div></div><br>
        {{end}}
      {{end}}
      {{with .Form}}
        <form action="/messages/{{.Reciver}}" method="POST">
          <div>
            <input type="hidden" name="reciver" value="{{.Reciver}}">
          </div>
          <div>
            {{with .Failures.Content}}
              <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="content" value="{{.Content}}">
          </div>
          <div>
            <input type="submit" value="Send Message">
          </div>
        </form>
      {{end}}
    </div>
    <div class="column right" name="Sidebar">
      <!-- right-side -->
    </div>
  </div>
  <script>
    // Start chat at the bottom of the window
    var objDiv = document.getElementById("chat");
    objDiv.scrollTop = objDiv.scrollHeight;

    // Make sent/recived messages different
    uri_split = location.href.split("/");
    friend = uri_split[uri_split.length - 1]
    for (x of document.getElementsByClassName("chatbubble")) {
      if (x.id == friend) {
        x.className += " friend"
      } else {
        x.className += " self"
      }
    }
  </script>
{{end}}
