{{define "page-title"}}
  New Book
{{end}}
{{define "page-body"}}
  <form enctype="multipart/form-data" action="/write/book" method="POST">
    {{with .Form}}
      {{if .VolumeID}}
        <div>
          <label>Volume ID:</label>
          <input type="text" name="volumeid" value="{{.VolumeID}}">
        </div>
        <div>
          <label>Title:</label>
          <input type="text" name="title" value="{{.Title}}">
        </div>
        <div>
          <label>Subtitle:</label>
          <input type="text" name="subtitle" value="{{.Subtitle}}">
        </div>
        <div>
          <label>Authors:</label>
          <input type="text" name="authors" value="{{.Authors}}">
        </div>
        <div>
          <label>Publisher:</label>
          <input type="text" name="publisher" value="{{.Publisher}}">
        </div>
        <div>
          <label>Published Date:</label>
          <input type="text" name="publisheddate" value="{{.PublishedDate}}">
        </div>
        <div>
          <label>Description:</label>
          <input type="text" name="description" value="{{.Description}}">
        </div>
        <div>
          <label>Page Count:</label>
          <input type="text" name="pagecount" value="{{.PageCount}}">
        </div>
        <div>
          <label>Price:</label>
          <input type="text" name="price" value="{{.Price}}">
        </div>
        <div>
          <label>Maturity Rating:</label>
          <input type="text" name="maturityrating" value="{{.MaturityRating}}">
        </div>
        <div>
          <label>ISBN 10:</label>
          <input type="text" name="isbn10" value="{{.ISBN10}}">
        </div>
        <div>
          <label>ISBN 13:</label>
          <input type="text" name="isbn13" value="{{.ISBN13}}">
        </div>
        <div>
          <label>Categories:</label>
          <input type="text" name="categories" value="{{.Categories}}">
        </div>
        <div>
          <label>Image Link:</label>
          <input type="text" name="imagelink" value="{{.ImageLink}}">
        </div>
        <div>
          <input type="file" name="epub" />
        </div>
      {{else}}
        <div>
          <label>Volume ID:</label>
          <input type="text" name="volumeid" value="">
        </div>
      {{end}}
      <div>
        <input type="submit" value="Publish book">
      </div>
    {{end}}
  </form>
{{end}}