{{define "page-title"}}
  User
{{end}}
{{define "page-body"}}
    {{with .Flash}}
        <div class="flash">{{.}}</div>
    {{end}}
    {{with .DisplayUser}}
      <table>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Joined</th>
        </tr>
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Username}}</td>
          <td>{{.Role}}</td>
          <td>{{humanDate .Created}}</td>
        </tr>
      </table>
    {{end}}
    {{if .Books}}
    <br>
      {{range .Books}}
        <a href="/book/{{.VolumeID}}"><img src="{{.ImageLink}}" width="100" height="170"></a>
      {{end}}
    {{end}}
    {{if .Reviews}}
    {{range .Reviews}}
      <br><br>
      <div class="review">
        <div class="metadata">
          <strong><a href="/book/{{.BookID}}">{{.Username}}</a></strong>
        </div>
        <div class="metadata">
          {{.Rating}} Stars!
        </div>
        <div class="metadata">
          {{.Review}}
        </div>
        <div class="metadata">
          <time>{{humanDate .Created}}</time>
        </div>
      </div><br>
    {{end}}
  {{end}}
  <br><br>
  {{if eq .DisplayUser.Username .User.Username}}
    <form action="/user/invite/create" method="POST">
      <div>
          <input type="submit" value="Generate Invite Code">
      </div>
    </form>
    {{if .Invites}}
      {{range .Invites}}
        <table>
          <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Username</th>
            <th>Activated</th>
          </tr>
          <tr>
            <td>{{.ID}}</td>
            <td>{{.Code}}</td>
            {{if .Username.Valid}}
              <td>{{.Username.String}}</td>
            {{else}}
              <td></td>
            {{end}}
            <td>{{.Activated}}</td>
          </tr>
        </table>
      {{end}}
    {{end}}
  {{end}}
{{end}}
