{{define "page-title"}}
  Book #{{.Book.ID}}
{{end}}
{{define "page-body"}}
  {{with .Flash}}
    <div class="flash">{{.}}</div>
  {{end}}
  {{with .Book}}
    <div class="book">
      <div class="metadata">
        <span>#{{.ID}}</span> <strong>{{.VolumeID}}</strong>
      </div>
      <div class="metadata">
        <pre><strong>{{.Title}}</strong>
      </div>
      <div class="metadata">
        {{.Subtitle}}<br>
      </div>
      <div class="metadata">
        <code>{{.Authors}}</code><br><br>
      </div>
      <div class="metadata">
          <time>{{.Description}}</time>
      </div>
      <br>Categories: {{.Categories}}<br>
      <br>Publisher: {{.Publisher}}<br>
      <br>Published Date: {{.PublishedDate}}<br>
      <br>ISBN 10: {{.ISBN10}}<br>
      <br>ISBN 13: {{.ISBN13}}<br>
      <br>MSRP: {{.Price}}<br>
      <br>Maturity Rating: {{.MaturityRating}}<br>
      <div class="metadata">
          <time>Uploaded by <a href="/user/{{.Uploader}}">{{.Uploader}}</a> on {{humanDate .Created}}</time>
      </div>
    </div>
    <img src="{{.ImageLink}}" alt="Book Cover" width="500" height="600">
    <div>
        <form action="/book/{{.VolumeID}}" method="POST">
            <div>
                <input type="submit" value="Download book">
            </div>
        </form>
    </div>
    <br>Downloads: {{.Downloads}}<br><br>
  {{end}}
  {{if .Reviews}}
    {{range .Reviews}}
      <div class="review">
        <div class="metadata">
          <strong><a href="/user/{{.Username}}">{{.Username}}</a></strong>
        </div>
        <div class="metadata">
          {{.Rating}} Stars!
        </div>
        <div class="metadata">
          {{.Review}}
        </div>
        <div class="metadata">
          <time>{{humanDate .Created}}</time>
        </div>
      </div><br>
    {{end}}
  {{end}}
  <br><br><br><br>
  <form action="/book/review" method="POST">
    <input type="hidden" id="bookid" name="volumeid" value="{{.Book.VolumeID}}">
    <div>
      Rating:
      <input type="radio" name="rating" value="1"> 1
      <input type="radio" name="rating" value="2"> 2
      <input type="radio" name="rating" value="3"> 3
      <input type="radio" name="rating" value="4"> 4
      <input type="radio" name="rating" value="5"> 5
    </div>
    <div>
      <label>Review:</label>
      <input type="text" name="review" value="">
    </div>
    <div>
      <input type="submit" value="Publish Review">
    </div>
  </form>
{{end}}