{{define "page-title"}}
  Book #{{.Book.ID}}
{{end}}
{{define "page-body"}}
  {{if eq .User.Role "writer"}}
    <a href="/book/edit/{{.Book.VolumeID}}">Edit Book</a>
  {{end}}
  {{with .Book}}
    <div class="book">
      <div class="row">
        <div class="column half">
          <img src="{{.ImageLink}}" alt="Book Cover" width="100%">
        </div>
        <div class="column half">
          <span>#{{.ID}}</span> <strong>{{.VolumeID}}</strong>
          <br><strong>Title</strong>: {{.Title}}<br>
          <br><strong>Subtitle</strong>: {{.Subtitle}}<br>
          <br><strong>Author</strong>: {{.Authors}}<br>
          <br><strong>Categories</strong>: {{.Categories}}<br>
          <br><strong>Publisher</strong>: {{.Publisher}}<br>
          <br><strong>Published Date</strong>: {{.PublishedDate}}<br>
          <br><strong>Page Count</strong>: {{.PageCount}}<br>
          <br><strong>ISBN 10</strong>: {{.ISBN10}}<br>
          <br><strong>ISBN 13</strong>: {{.ISBN13}}<br>
          <br><strong>MSRP</strong>: {{.Price}}<br>
          <br><strong>Maturity Rating</strong>: {{.MaturityRating}}<br>
          <form action="/book/{{.VolumeID}}" method="POST">
            <input type="submit" value="Download Book">
          </form>
          {{if not .Collected}}
            <form action="/book/collect/{{.VolumeID}}" method="POST">
              <input type="submit" value="Add to Collection">
            </form>
          {{end}}
          Downloads: {{.Downloads}}<br>
        </div>
      </div>

      <div class="row">
        <div class="column whole">
          {{.Description}}
        </div>
      </div>
      <div class="row">
          <br><time>Uploaded by <a href="/user/{{.Uploader}}">{{.Uploader}}</a> on {{humanDate .Created}}</time>
      </div>
    </div><br><br>
  {{end}}
  {{if .Reviews}}
    {{range .Reviews}}
      <p class="ridge">
          <strong><a href="/user/{{.Username}}">{{.Username}}</a></strong><br>
          {{.Rating}} Stars!<br>
          {{.Review}}<br>
          <time>{{humanDate .Created}}</time>
      </p><br>
    {{end}}
  {{end}}
  <br><br><br><br>
  <form action="/book/review" method="POST">
    <input type="hidden" id="bookid" name="volumeid" value="{{.Book.VolumeID}}">
    <div>
      Rating:
      <input type="radio" name="rating" value="1"> 1
      <input type="radio" name="rating" value="2"> 2
      <input type="radio" name="rating" value="3"> 3
      <input type="radio" name="rating" value="4"> 4
      <input type="radio" name="rating" value="5"> 5
    </div>
    <div>
      <label>Review:</label>
      <input type="text" name="review" value="">
    </div>
    <div>
      <input type="submit" value="Publish Review">
    </div>
  </form>
{{end}}