{{define "page-title"}}
  User
{{end}}
{{define "page-body"}}
    {{with .Flash}}
        <div class="flash">{{.}}</div>
    {{end}}
    {{with .DisplayUser}}
      <table>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Joined</th>
        </tr>
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Username}}</td>
          <td>{{.Role}}</td>
          <td>{{humanDate .Created}}</td>
        </tr>
      </table>
    {{end}}
    {{if .Reviews}}
    {{range .Reviews}}
      <br><br>
      <div class="review">
        <div class="metadata">
          <strong><a href="/book/{{.BookID}}">{{.Username}}</a></strong>
        </div>
        <div class="metadata">
          {{.Rating}} Stars!
        </div>
        <div class="metadata">
          {{.Review}}
        </div>
        <div class="metadata">
          <time>{{humanDate .Created}}</time>
        </div>
      </div><br>
    {{end}}
  {{end}}
{{end}}
